
$background-outset-button: #d6d6d6;
$background-color-container: #ebebeb;
$background-color-result: #ffffff;


$color-categories: #999999;
$color-text-dark: #666666;


$button-color: #3483fa;

$background-color-search: #ffe600;

$border-color-result: #eeeeee;
