$font-family-black: "Robotto-Black";
$font-family-bold: "Robotto-Bold";
$font-family-light: "Robotto-Light";
$font-family-medium: "Robotto-Medium";
$font-family-regular: "Robotto-Regular";
$font-family-thin: "Robotto-Thin";

.font-family-black {
  font-family: $font-family-black;
}

.font-family-bold {
  font-family: $font-family-bold;
}

.font-family-light {
  font-family: $font-family-light;
}

.font-family-medium {
  font-family: $font-family-medium;
}

.font-family-regular {
  font-family: $font-family-regular;
}

.font-family-thin {
  font-family: $font-family-thin;
}

@font-face {
  font-family: $font-family-black;
  src: url("/client/public/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: $font-family-bold;
  src: url("/client/public/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: $font-family-light;
  src: url("/client/public/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: $font-family-medium;
  src: url("/client/public/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: $font-family-regular;
  src: url("/client/public/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: $font-family-thin;
  src: url("/client/public/fonts/Roboto-Thin.ttf") format("truetype");
}