@import "../../../../public/scss/fonts";


.ml-searchInput {
  display: inline-block;

  &__input {
    width: 500px;
    height: 23px;
    padding: 7px 60px 9px 15px;
  }
  &__button {
    height: 23px;
  }
}